{% extends "JPApp/padre.html" %}

{% load static %}

{% block page_title %} 
Inicio JPApp
{% endblock %}

{% block nav_bar %} 
<ul class="navbar-nav text-uppercase ms-auto py-4 py-lg-0">
    <li class="nav-item"><a class="nav-link" href="#portfolio">Opciones</a></li>
    <li class="nav-item"><a class="nav-link" href="#about">Tutorial</a></li>
    <li class="nav-item"><a class="nav-link" href="#team">Conocenos</a></li>
    <li class="nav-item"><a class="nav-link" href="#contact">Contacto</a></li>
    <li class="nav-item"><a class="nav-link" href="">Registro</a></li>
    <li class="nav-item"><a class="nav-link" href="">Iniciar Sesión</a></li>
</ul>
{% endblock %}